* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.btn-primary {
  border-radius: 5px;
  background: #e55473;
  color: white;
  padding: 5px 10px;
  border: 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  width: 125px;
  height: 42px;
}

.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.title {
  margin-bottom: 20px;
  color: #272727;
}

/*Header*/
header {
  background-color: rgba(229, 84, 115, 0.1);
}

.header-part {
  width: 80%;
  margin: auto;
  height: 640px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-flower-img {
  width: 515px;
  height: 610px;
}

.right-header {
  margin-bottom: -32px;
}
.left-header {
  width: 500px;
}

.header-title {
  color: #272727;
  font-size: 55px;
  font-weight: 1000;
  font-weight: 900;
  margin-bottom: 16px;
}

/*Featured flower section*/

.featured-flowers {
  margin: auto;
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 90px 0px 0px 0px;
}

.featured-flowers > h2 {
  margin-bottom: 17px;
}

.featured-flowers > p {
  margin-bottom: 33px;
}

.featured-flower-image {
  height: 300px;
  width: 170px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  padding: 55px 86px 0px 60px;
  margin-bottom: 10px;
}

.featured-flower-holder {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/*Hotdeal section*/

.hotdeal-section {
  display: flex;
  gap: 100px;
  background-color: rgba(229, 84, 115, 0.05);
  justify-content: center;
  align-items: center;
  padding: 50px 150px;
  margin-top: 100px;
}

.hotdeal-img {
  width: 165px;
  height: 225px;
}

.hotdeal-section-left {
  width: 490px;
  text-align: center;
}

/*Instagram section*/
.instagram-flower-container {
  display: flex;
  justify-content: center;
  gap: 18px;
  width: 80%;
  margin: auto;
}
.instagram-image {
}
.instagram-image-each {
  height: 260px;
  width: 240px;
}

.instagram-section {
  text-align: center;
  margin-top: 70px;
}

.insta-descrip {
  width: 35%;
  margin: auto;
  margin-bottom: 35px;
}

/*Email-section*/
.email-section {
  width: 75.3%;
  margin: auto;
  background: url("Flower Asset/Rectangle\ 9.png");
  background-size: cover;
  background-repeat: none;
  height: 200px;
  margin-top: 100px;
  text-align: center;
  padding: 100px 0px 0px 0px;
  margin-bottom: 80px;
  border-radius: 5px;
}

.input-text {
  height: 40px;
  width: 420px;
  border: 0;
  border-radius: 4px;
  padding: 0px 18px;
  font-size: 12px;
}

.input-email {
  margin-top: 30px;
}

/*footer*/

footer {
  width: 100%;
  height: 225px;
  background-color: #111010;
  text-align: center;
  padding: 30px 0px;
}
footer > h1 {
  color: white;
  padding-top: 64px;
  margin-bottom: 14px;
}
.rights-reserved {
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  font-weight: 400;
  margin-top: 20px;
}

/*Feedback*/
.icons {
  cursor: pointer;
}

.icons-container {
  display: flex;
  gap: 8px;
  font-size: 20px;
  margin-top: 16px;
}

.feedback {
  display: flex;
  justify-content: space-around;
  height: 400px;
  background-color: #fef6f8;
  padding: 40px 0px 0px 0px;
  margin-bottom: 100px;
}

.feedback-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-feedback {
  height: 40px;
  width: 420px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0px 18px;
  font-size: 12px;
}
.input-message {
  height: 150px;
}

.feedback-right > h1 {
  margin-bottom: 20px;
  text-align: center;
}

/*optional*/
.optional-img {
  height: 62px;
  width: 62px;
}

.optional-container {
  background-color: rgba(39, 39, 39, 0.05);
  border-radius: 4px;
  display: flex;
  width: 74%;
  margin: auto;
  justify-content: center;
  height: 200px;
  align-items: center;
  gap: 100px;
  text-align: center;
  margin-top: 80px;
}
